@page "/authors"
@inject IAuthorService AuthorService

<h3>Authors</h3>

<div class="row">
    <div class="col-md-10">
        <form>
            <div class="form-group">
                <label>Actor id</label>
                <input type="number" @bind-value="id" class="form-control" />
            </div>
            <input type="submit" class="btn btn-primary" value="Search" />
        </form>
    </div>
    <div class="col-md-2">
        <a href="/createActor">Create Actor</a>
    </div>
</div>
<div class="row">
    <div class="col">
        @if (AuthorList is not null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var author in AuthorList)
                    {
                        <tr>
                            <td class="align-middle">
                                $@author.Id
                            </td>
                            <td class="align-middle">
                                @author.FirstName
                            </td>
                            <td class="align-middle">
                                @author.LastName
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-info">Update</button>
                            </td>
                            <td class="align-middle">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <span>
                Loading authors...
            </span>
        }
    </div>
</div>
<div class="row">
    <div class="col">
        @*Place for pagination*@
    </div>
</div>

@code {
    public IEnumerable<AuthorDTO> AuthorList { get; set; }

    public AuthorDTO Author { get; set; }

    public int id;

    protected async override Task OnInitializedAsync()
    {
        AuthorList = await AuthorService.GetAuthors();
    }

}
